.container {
	max-width: 1024px;
	margin: 0 auto;
}

.auth-form {
	text-align: center;
	margin-top: 30%;
}

.auth-form form {
	max-width: 500px;
	margin: auto;
}

.field {
	display: flex;
	flex-direction: column;
}

.field label {
	text-align: left;
}